{# templates/lucky/number.html.twig #}
<h1>Before matches</h1>
<p>First player name : {{ playerA }}</p>
<p>Second player name : {{ playerB }}</p>

<p>Points {{ playerA }} : {{ pointsBeforePlayerA }}</p>
<p>Points {{ playerB}} : {{ pointsBeforePlayerB }}</p>


<p>Level {{ playerA }} : {{ levelBeforePlayerA }}</p>
<p>Level {{ playerB }} : {{ levelBeforePlayerB }}</p>


<h1>Match 1, result for {{ playerA }} : {{ m1Result }} </h1>
<p>Points {{ playerA }} : {{ pointsM1PlayerA }}</p>
<p>Points {{ playerB }} : {{ pointsM1PlayerB }}</p>


<p>Level {{ playerA }} : {{ levelM1PlayerA }}</p>
<p>Level {{ playerB }} : {{ levelM1PlayerB }}</p>

<h1>Match 2, result for {{ playerA }} : {{ m2Result }} </h1>
<p>Points {{ playerA }} : {{ pointsM2PlayerA }}</p>
<p>Points {{ playerB }} : {{ pointsM2PlayerB }}</p>


<p>Level {{ playerA }} : {{ levelM2PlayerA }}</p>
<p>Level {{ playerB }} : {{ levelM2PlayerB }}</p>

<h1>Match 3, result for {{ playerA }} : {{ m3Result }} </h1>
<p>Points {{ playerA }} : {{ pointsM3PlayerA }}</p>
<p>Points {{ playerB }} : {{ pointsM3PlayerB }}</p>


<p>Level {{ playerA }} : {{ levelM3PlayerA }}</p>
<p>Level {{ playerB }} : {{ levelM3PlayerB }}</p>